*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    padding: 5px;
}
button{
    width: 130px;
    height: 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#input{
    width: 120px;
    height: 40px;
    font-size: 20px;
}
.heading{
    font-size: 30px;
    font-weight: 800;

}